<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
    <parameter name="browser" value="chrome"></parameter>
    <test name="Valid login">
        <classes>
            <class name="validLoginTest.LoginTest">
                <methods>
                    <include name="verifySignInButtonDisplay"/>
                </methods>

            </class>
        </classes>
    </test>
</suite>